<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>New Message</title>
  </head>
  <body>
    <div class="header">
      <h1>Message Form</h1>
    </div>
    <form method="POST" action="/new">
      <div class="inputField">
        <label for="messageUser">User: </label>
        <input type="text" name="messageUser" />
      </div>
      <div class="inputField">
        <label for="messageText">Message: </label>
        <textarea name="messageText"> </textarea>
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
