<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Message</title>
  </head>
  <body>
    <div class="header">
      <h1>Message</h1>
    </div>
    <p>Author: <%= message.username%></p>
    <p>Message: <%= message.message%></p>
    <p>Date: <%= message.created_at%></p>
  </body>
</html>
